{
    "parserOptions":{
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "globalReturn": true,
            "impliedStrict": false,
            "jsx": false,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "shared-node-browser": true,
        "browser": true,
        "commonjs": true,
        "node": true,
        "es6": true,
        "mocha": true,
        "jquery": true
    },
    "rules": {
        "comma-dangle": [2, "never"],
        "no-cond-assign": [2, "except-parens"],
        "no-console": 0,
        "no-constant-condition": 1,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 1,
        "no-empty": 1,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 1,
        "no-extra-parens": [1, "functions"],
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": [1, "functions"],
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 1,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-regex-spaces": 1,
        "no-sparse-arrays": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "use-isnan": 2,
        "valid-jsdoc": 0,
        "valid-typeof": 2,
        "accessor-pairs": [1, { "getWithoutSet": true, "setWithoutGet": true }],
        "array-callback-return": 1,
        "block-scoped-var": 0,
        "complexity": [1, 12],
        "consistent-return": 0,
        "curly": 1,
        "default-case": 2,
        "dot-location": [1, "property"],
        "dot-notation": [1, { "allowKeywords": true}],
        "eqeqeq": 2,
        "guard-for-in": 0,
        "no-alert": 2,
        "no-caller": 2,
        "no-case-declarations": 2,
        "no-div-regex": 1,
        "no-else-return": 1,
        "no-empty-function": 0,
        "no-empty-pattern": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": 1,
        "no-extra-bind": 1,
        "no-extra-label": 1,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-implicit-coercion": 0,
        "no-implicit-globals": 0,
        "no-implied-eval": 2,
        "no-invalid-this": 0,
        "no-iterator": 1,
        "no-labels": [2, {"allowLoop": false, "allowSwitch": false}],
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-magic-numbers": 0,
        "no-multi-spaces": 1,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-new": 1,
        "no-octal-escape": 1,
        "no-octal": 1,
        "no-param-reassign": [2, {"props": false}],
        "no-process-env": 0,
        "no-proto": 2,
        "no-redeclare": [2, { "builtinGlobals": true }],
        "no-return-assign": [2, "except-parens"],
        "no-script-url": 2,
        "no-self-assign": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unmodified-loop-condition": 1,
        "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": false }],
        "no-unused-labels": 1,
        "no-useless-call": 1,
        "no-useless-concat": 1,
        "no-void": 2,
        "no-warning-comments": [1, { "terms": ["todo", "fix"], "location": "anywhere" }],
        "no-with": 2,
        "radix": [2, "as-needed"],
        "vars-on-top": 0,
        "wrap-iife": [2, "outside"],
        "yoda": [1, "never", { "onlyEquality": true }],
        "strict": [1, "safe"],
        "init-declarations": 0,
        "no-catch-shadow": 2,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow-restricted-names": 2,
        "no-shadow": [2, {"builtinGlobals": false, "hoist": "functions"}],
        "no-undef-init": 1,
        "no-undef": [2, { "typeof": false }],
        "no-undefined": 0,
        "no-unused-vars": [1, { "vars": "all", "args": "none" }],
        "no-use-before-define": [1, {"functions": true, "classes": true}],
        "array-bracket-spacing": [1, "never"],
        "block-spacing": [1, "always"],
        "brace-style": [1, "1tbs", { "allowSingleLine": true }],
        "camelcase": [1, {"properties": "never"}],
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [1, "last"],
        "computed-property-spacing": [1, "never"],
        "consistent-this": [1, "_this", "self", "ctx"],
        "eol-last": [1, "unix"],
        "func-names": 0,
        "func-style": [1, "expression", { "allowArrowFunctions": true }],
        "id-length": [2, {"min": 1, "max": 35, "properties": "never"}],
        "id-match": 0,
        "id-blacklist": 0,
        "indent": [1, 4, {"VariableDeclarator": 1, "SwitchCase": 1}],
        "jsx-quotes": 0,
        "key-spacing": [1, {"beforeColon": false, "afterColon": true}],
        "keyword-spacing": [1, {"before": true, "after": true}],
        "linebreak-style": [1, "unix"],
        "lines-around-comment": [1, { "beforeBlockComment": true, "afterBlockComment": false, "beforeLineComment": true, "afterLineComment": false, "allowBlockStart": true, "allowBlockEnd": true, "allowObjectStart": true, "allowArrayStart": false, "allowArrayEnd": false }],
        "max-depth": [1, 5],
        "max-len": [1, {"code": 120, "comments": 120, "tabWidth": 4, "ignoreUrls": true}],
        "max-nested-callbacks": [1, 5],
        "max-params": [1, 10],
        "max-statements": [1, 12, {"ignoreTopLevelFunctions": true}],
        "new-cap": [1, {"newIsCap": true, "capIsNew": true, "properties": false}],
        "new-parens": 1,
        "newline-after-var": 0,
        "newline-per-chained-call": 0,
        "no-array-constructor": 1,
        "no-bitwise": 0,
        "no-continue": 0,
        "no-inline-comments": 0,
        "no-lonely-if": 1,
        "no-mixed-spaces-and-tabs": 1,
        "no-multiple-empty-lines": [1, {"max": 2}],
        "no-negated-condition": 0,
        "no-nested-ternary": 1,
        "no-new-object": 1,
        "no-plusplus": 0,
        "no-restricted-syntax": [1,  "WithStatement"],
        "no-whitespace-before-property": 1,
        "no-spaced-func": 1,
        "no-ternary": 0,
        "no-trailing-spaces": [1, { "skipBlankLines": true }],
        "no-underscore-dangle": 0,
        "no-unneeded-ternary": 1,
        "object-curly-spacing": [1, "never"],
        "one-var": 0,
        "one-var-declaration-per-line": 0,
        "operator-assignment": 0,
        "operator-linebreak": 0,
        "padded-blocks": 0,
        "quote-props": [1, "as-needed"],
        "quotes": [1, "single"],
        "require-jsdoc": 0,
        "semi-spacing": [2, { "before": false, "after": true }],
        "semi": [1, "always"],
        "sort-vars": 0,
        "sort-imports": 0,
        "space-before-blocks": [1, { "functions": "always", "keywords": "always", "classes": "always" }],
        "space-before-function-paren": [1, {"anonymous": "never", "named": "never"}],
        "space-in-parens": [1, "never"],
        "space-infix-ops": 1,
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "spaced-comment": 0,
        "wrap-regex": 0
    }
}
